.background {
    background-color: #FBCC9D;
    width: 1440px;
    height: 100vh;
    z-index: 0;
    position: absolute;
}

.middle {
    background-color: #FFF;
    border: 1px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}