.background {
    background-color: #f3eae3;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
}

.middle {
    background-color: #FFF;
    width: 200px;
    height: 200px;
    border: 1px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}